<body>
    <style>
        .border{border: 1px solid black;}
        .banner{margin: 0 auto;width: 896px;margin-bottom: 5px;}
        .right{width: 190px;height: 500px;float: left;}
        .left{width: 700px;height: 500px;float: left; margin-left: 5px;margin-bottom: 5px;}
        .main{width: 899px;margin: 0 auto;}
        .banner a{margin-left: 10px;text-decoration: blink;}
    </style>
    <div class="main">
        <div class="banner border">
            <a href="index.html">我的地盘</a>
            <a href="pictrue.html">点击玉照</a>
            <a href="login.html">点此注册</a>
        </div>
        <div class="right border"></div>
        <div class="left border"></div>
    </div>
</body>
